{% extends 'layout/base.twig' %}
{% block title %}Garage{% endblock %}
{% block body %}
    <section class="hero" id="top">
        <div class="hero__wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('images/hero/nina-unsplash.jpg');">
                        <div class="container">
                            <div class="hero__caption">
                                <h2>Хотите сделать ремонт автомобиля своими руками?<br>
                                    Тогда Вам к нам!</h2>
                                <button class="btn ripple btn--black js-btn">Забронировать</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url('images/hero/damir-unsplash.jpg');">
                        <div class="container">
                            <div class="hero__caption">
                                <h2>Аренда гаража</h2>
                                <button  class="btn ripple btn--black js-btn">Забронировать</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url('images/hero/maxim-unsplash.jpg');">
                        <div class="container">
                            <div class="hero__caption">
                                <h2>Аренда инструмента</h2>
                                <button class="btn ripple btn--black js-btn">Забронировать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="container">
            <div class="advantage__wrap">
                <div class="advantage__item">
                    <img src="images/tools.svg" alt="">
                    <p>Прокат профессионального
                        инструмента и оборудования</p>
                </div>
                <div class="advantage__item">
                    <img src="images/question.svg" alt="">
                    <p>Консультация мастера и помощь в подборе автозапчастей</p>
                </div>
                <div class="advantage__item">
                    <img src="images/working.svg" alt="">
                    <p>Вы можете отремонтировать автомобиль самостоятельно</p>
                </div>
                <div class="advantage__item">
                    <img src="images/money.svg" alt="">
                    <p>Экономно по сравнению с сервисом и доступно</p>
                </div>
            </div>
        </div>
    </section>
    <section class="info" id="o-nas">
        <div class="info__img">
            <img src="images/an-hour.jpg" alt="">
        </div>
        <div class="info__text">
            <h3>Гараж на час</h3>
            <p>Уютный гараж с автомобильным подъемником и оборудованием на час – отличная услуга для только начинающих и
                уже опытных автолюбителей, которые желают самостоятельно, качественно с душой позаботится о своем
                железном коне, при этом <span>сэкономив немало денег на обслуживании автомобиля в сервисе.</span></p>
            <ul>
                <li>Сдадим в аренду инструмент и оборудование для ремонта и технического обслуживания техники
                    (автомобиля, мотоцикла, велосипеда, любого другого транспортного средства).
                </li>
                <li>Высота въездных ворот – 4,0м, ширина 3,5м, что позволяет воспользоваться нашими услугами владельцев
                    микроавтобусов и грузовиков.
                </li>
                <li>Двухстоечный гидравлический подъемник до 5.</li>
                <li>Предоставим светлое, просторное помещение для использования инструмента и оборудования в удобное для
                    Вас время.
                </li>
                <li>Приехав к нам Вы получите чистый гараж, автомобильный подъемник, все надлежащие инструменты и
                    спокойствие.
                </li>
            </ul>
        </div>
    </section>
    <section class="quote">
        <div class="quote__wrap">
            <img src="images/quote.svg" alt="">
            <div>
                <p>Если хочешь сделать что-то хорошо, сделай это сам.</p>
                <span>Фердинанд Порше</span>
            </div>

        </div>
    </section>
    <section class="tools" id="tools">
        <div class="container">
            <div class="tools__wrap">
                <div class="tools__caption">
                    <h3>Наборы ручного инструмента</h3>
                    <p>Чтобы Вы могли полноценно и комфортно работать, мы укомплектовали наш «Гараж на час»
                        профессиональным инструментом, приспособлениями и оборудованием.</p>
                </div>
                <ul class="tools__list">
                    <li class="tools__item">
                        <img src="images/tools-item1.jpg" alt="">
                        <p>Ключи от 5 до 46мм</p>
                    </li>
                    <li class="tools__item">
                        <img src="images/tools-item2.jpg" alt="">
                        <p>Головки от 5 до 50 мм</p>
                    </li>
                    <li class="tools__item">
                        <img src="images/tools-item1.jpg" alt="">
                        <p>Отвертки</p>
                    </li>
                    <li class="tools__item">
                        <img src="images/tools-item2.jpg" alt="">
                        <p>Динамометрические ключи</p>
                    </li>
                </ul>
                <div id="container" class="btn--more">
                    <button class="learn-more">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">показать все</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="feed-back" style="background-image: url('images/feedback.jpg');">
        <div class="container">
            <div class="feed-back__wrap">
                <h3>Позвоните нам</h3>
                <p>Если Вы не нашли на представленных фото инструмента, который Вам необходим, позвоните нам и уточните
                    вопрос по его наличию.</p>
                <p>Возможно мы сможем его приобрести и сдать Вам в аренду, а может он у нас есть, и мы просто не успели
                    выложить его на сайте.</p>
                <a href="tel:+375291000000">+375 (29) 100-00-00</a>
            </div>
        </div>
    </section>
    <section class="price" id="price">
        <div class="container">
            <div class="price__wrap">
                <h3>цены</h3>
                <div class="price__head">
                    <p>услуга</p>
                    <p>стоимость <br>(<span>бел. руб./час</span>)</p>
                </div>
                <ul class="price__list">
                    <li class="price__item">
                        <p>Аренда гаража со смотровой ямой</p>
                        <p>10</p>
                    </li>
                    <li class="price__item">
                        <p>Аренда гаража со смотровой ямой и подъемником</p>
                        <p>5</p>
                    </li>
                    <li class="price__item">
                        <p>Набор головок или набора ключей</p>
                        <p>2</p>
                    </li>
                    <li class="price__item">
                        <p>Сварочный аппарат</p>
                        <p>3</p>
                    </li>
                    <li class="price__item">
                        <p>Бензиновый компрессометр</p>
                        <p>5</p>
                    </li>
                    <li class="price__item">
                        <p>Смазочные материалы</p>
                        <p>3</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="questions" id="quest">
        <div class="container">
            <div class="questions__wrap">
                <h3>Часто задаваемые вопросы</h3>
                <div class="questions__block">
                    <div class="questions__list">
                        <dt><h4>Что такое гараж на час?</h4>
                            <button class="show-more show-more-b show-more--active">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd class="dd-active">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        </dd>

                        <dt><h4>Какие работы можно выполнить в нашем автосервисе самообслуживания?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Замена масла в двигателе и коробках передач, замена стоек стабилизатора, оклейка
                            дополнительной шумоизоляции, замена тормозных колодок…
                        </dd>

                        <dt><h4>Могу ли Я за услуги сервиса расплатиться банковской картой online?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт,
                            мотоцикл, мопед, гироскутер,квадроцикл, велосипед, самокат, скейт
                        </dd>

                        <dt><h4>Могу ли Я за услуги сервиса расплатиться банковской картой online?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт,
                            мотоцикл, мопед, гироскутер,квадроцикл, велосипед, самокат, скейт
                        </dd>
                    </div>
                    <div class="questions__list">
                        <dt><h4>Для какого вида транспорта у нас есть инструменты?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт...
                        </dd>

                        <dt><h4>Нужна ли предварительная запись?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт,
                            мотоцикл, мопед, гироскутер,квадроцикл, велосипед, самокат, скейт..
                        </dd>

                        <dt><h4>Могу ли Я за услуги сервиса расплатиться банковской картой online?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт,
                            мотоцикл, мопед, гироскутер,квадроцикл, велосипед, самокат, скейт
                        </dd>

                        <dt><h4>Могу ли Я за услуги сервиса расплатиться банковской картой online?</h4>
                            <button class="show-more show-more-b">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.6569 9.65685L12 15.3137L6.34315 9.65685" stroke="black"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </dt>
                        <dd>Легковой автомобиль, микроавтобус, прицеп, грузовой транспорт,
                            мотоцикл, мопед, гироскутер,квадроцикл, велосипед, самокат, скейт
                        </dd>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts" id="contacts">
        <div class="container">
            <h3>Контакты</h3>
            <div class="contacts__wrap">

                <div class="contacts__info contacts__w">
                    <h4>Автосервис «Гараж на час»:</h4>
                    <p>Уютный гараж с автомобильным подъемником и оборудованием на час – отличная услуга для только
                        начинающих и уже опытных автолюбителей, которые желают самостоятельно, качественно с душой
                        позаботится о своем железном коне, при этом сэкономив немало денег на обслуживании автомобиля в
                        сервисе.</p>
                    <div class="nav__contacts-mobile">
                        <p class="nav__contacts-clock">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="7.5" stroke="#C23503"/>
                                <path d="M12 8V12H10" stroke="#C23503" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            пн - пт: 09:00 - 19:00, сб: 12:00 - 19:00
                        </p>
                        <a class="nav__contacts-email" href="mailto:info@gmail.com">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M18.4286 6.85714H4.71429C4.2409 6.85714 3.85714 7.2409 3.85714 7.71429V16.2857C3.85714 16.7591 4.2409 17.1429 4.71429 17.1429H18.4286C18.902 17.1429 19.2857 16.7591 19.2857 16.2857V7.71429C19.2857 7.2409 18.902 6.85714 18.4286 6.85714ZM4.71429 6C3.76751 6 3 6.76751 3 7.71429V16.2857C3 17.2325 3.76751 18 4.71429 18H18.4286C19.3753 18 20.1429 17.2325 20.1429 16.2857V7.71429C20.1429 6.76751 19.3753 6 18.4286 6H4.71429Z"
                                      fill="#C23503"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10.233 12.4012L3.80396 7.25794L4.33941 6.58862L10.7685 11.7319C11.2381 12.1076 11.9053 12.1076 12.3749 11.7319L18.804 6.58862L19.3394 7.25794L12.9103 12.4012C12.1277 13.0273 11.0157 13.0273 10.233 12.4012Z"
                                      fill="#C23503"/>
                            </svg>
                            info@gmail.com</a>
                        <ul class="nav__contacts-list">
                            <a href="tel:+375291000000">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M6.68414 3.87498C6.68414 2.83946 7.56778 2 8.65781 2H15.2367C16.3267 2 17.2104 2.83946 17.2104 3.87498V20.1248C17.2104 21.1604 16.3267 21.9998 15.2367 21.9998H8.65781C7.56778 21.9998 6.68414 21.1604 6.68414 20.1248V3.87498ZM15.2367 2.93749H8.65781C8.1128 2.93749 7.67098 3.35722 7.67098 3.87498V19.6888C7.67098 19.7992 7.76052 19.8888 7.87098 19.8888H16.0235C16.134 19.8888 16.2235 19.7992 16.2235 19.6888V3.87498C16.2235 3.35722 15.7817 2.93749 15.2367 2.93749Z"
                                          fill="#C23503"/>
                                    <path d="M9.31604 2.90225C9.31604 2.52852 9.61059 2 9.97393 2H13.9213C14.2846 2 14.5792 2.52852 14.5792 2.90225C14.5792 3.27597 14.2846 3.57893 13.9213 3.57893H9.97393C9.61059 3.57893 9.31604 3.27597 9.31604 2.90225Z"
                                          fill="#C23503"/>
                                    <path d="M11.4504 20.8335C11.4504 20.5574 11.6742 20.3335 11.9504 20.3335C12.2265 20.3335 12.4504 20.5574 12.4504 20.8335C12.4504 21.1096 12.2265 21.3335 11.9504 21.3335C11.6742 21.3335 11.4504 21.1096 11.4504 20.8335Z"
                                          fill="white"/>
                                </svg>
                                +375 (29) 100-00-00</a>
                            <li class="nav__contacts-item nav__contacts-item--tg">
                                <a href="#" aria-label="Telegram">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect width="24" height="24" rx="6" fill="white"/>
                                        <rect width="24" height="24" rx="5" fill="#36AEE2"/>
                                        <path d="M19.0681 5.9392C18.8898 5.72026 18.6229 5.59961 18.3165 5.59961C18.1498 5.59961 17.9734 5.63494 17.7919 5.7045L5.44323 10.4403C4.78791 10.6916 4.69965 11.0687 4.70532 11.2712C4.711 11.4735 4.82041 11.845 5.48887 12.0586C5.49287 12.0599 5.49688 12.061 5.50089 12.0623L7.2327 12.5601L15.6669 8.23103C15.8771 8.12302 16.1346 8.20688 16.242 8.41811C16.3264 8.58404 16.2925 8.77906 16.1723 8.90742L16.1727 8.90776L11.4832 13.9138L11.3494 14.4584L13.024 15.8132L15.3446 17.6905C15.3466 17.6921 15.3486 17.6938 15.3507 17.6954C15.606 17.8944 15.885 17.9995 16.1573 17.9996C16.6895 17.9996 17.1132 17.6039 17.2367 16.9916L19.26 6.95429C19.3411 6.55152 19.273 6.19091 19.0681 5.9392Z"
                                              fill="white"/>
                                        <path d="M10.937 13.5026C10.9544 13.4321 10.9895 13.365 11.0428 13.3084L14.1874 9.97607L8.35214 12.9491L9.67712 16.7281C9.75264 16.9434 9.86502 17.1267 10.004 17.2702L10.9368 13.5024L10.937 13.5026Z"
                                              fill="white"/>
                                        <path d="M10.5407 17.9998C10.9103 17.9973 11.2734 17.8719 11.5915 17.6363L12.729 16.7938L11.2124 15.8115L10.5407 17.9998Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav__contacts-item nav__contacts-item--vb">
                                <a href="#" aria-label="Viber">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect width="24" height="24" rx="6" fill="#834995"/>
                                        <path d="M19.3446 3.94745C18.8486 3.49054 16.841 2.03363 12.365 2.01415C12.365 2.01415 7.08834 1.6978 4.51834 4.05689C3.08882 5.48632 2.585 7.58376 2.5303 10.1811C2.4756 12.7785 2.40921 17.6449 7.10004 18.9651H7.10391L7.10004 20.9805C7.10004 20.9805 7.06882 21.7968 7.60778 21.9608C8.25617 22.164 8.63891 21.543 9.25991 20.8751C9.59974 20.5079 10.0684 19.9689 10.4238 19.5588C13.6343 19.8283 16.099 19.2112 16.3801 19.1214C17.0285 18.9105 20.696 18.4418 21.2896 13.5752C21.9067 8.55236 20.9928 5.38089 19.3446 3.94745Z"
                                              fill="white"/>
                                        <path d="M19.8878 13.2082C19.384 17.2701 16.4117 17.5279 15.8649 17.7037C15.6305 17.7779 13.4628 18.3169 10.7405 18.1412C10.7405 18.1412 8.70953 20.59 8.07679 21.2267C7.86979 21.4337 7.64327 21.4142 7.64718 21.004C7.64718 20.7346 7.66279 17.6569 7.66279 17.6569C7.65887 17.6569 7.65887 17.6569 7.66279 17.6569C3.6867 16.5554 3.92105 12.4114 3.96401 10.2437C4.00696 8.07604 4.41709 6.29891 5.62787 5.10378C7.8034 3.13134 12.2833 3.4243 12.2833 3.4243C16.068 3.43991 17.8803 4.58034 18.3021 4.96313C19.6964 6.1583 20.4073 9.01735 19.8878 13.2082Z"
                                              fill="#834995"/>
                                        <path d="M14.4591 10.0521C14.4747 10.3879 13.9708 10.4114 13.9552 10.0755C13.9122 9.21619 13.5099 8.79832 12.6819 8.75145C12.346 8.73189 12.3773 8.22806 12.7092 8.24763C13.799 8.30619 14.4044 8.9311 14.4591 10.0521Z"
                                              fill="white"/>
                                        <path d="M15.2514 10.4935C15.2904 8.83744 14.2554 7.54074 12.2908 7.39626C11.9588 7.37283 11.9939 6.86896 12.326 6.89239C14.5913 7.05648 15.7982 8.61487 15.7552 10.5052C15.7513 10.8411 15.2435 10.8255 15.2514 10.4935Z"
                                              fill="white"/>
                                        <path d="M17.0873 11.0169C17.0911 11.3528 16.5834 11.3566 16.5834 11.0208C16.56 7.8376 14.4392 6.10343 11.8652 6.0839C11.5332 6.07999 11.5332 5.58008 11.8652 5.58008C14.7438 5.5996 17.0599 7.5876 17.0873 11.0169Z"
                                              fill="white"/>
                                        <path d="M16.6464 14.8485V14.8564C16.2246 15.5984 15.4356 16.4187 14.6232 16.157L14.6154 16.1452C13.7913 15.9148 11.8502 14.915 10.6237 13.9385C9.99099 13.4385 9.41291 12.8488 8.96765 12.2824C8.56539 11.7786 8.15921 11.181 7.76473 10.4624C6.93282 8.95862 6.74926 8.28684 6.74926 8.28684C6.48756 7.47445 7.30386 6.68545 8.04982 6.26366H8.05769C8.417 6.07614 8.76069 6.13866 8.99113 6.41593C8.99113 6.41593 9.47547 6.99393 9.68243 7.27914C9.87773 7.54471 10.1394 7.9704 10.2761 8.20866C10.5144 8.63436 10.3659 9.06792 10.1316 9.24753L9.66291 9.62253C9.42469 9.81388 9.45591 10.1693 9.45591 10.1693C9.45591 10.1693 10.1511 12.7979 12.7485 13.4619C12.7485 13.4619 13.104 13.4932 13.2953 13.2549L13.6703 12.7862C13.8499 12.5519 14.2835 12.4035 14.7092 12.6418C15.2833 12.9659 16.0137 13.4698 16.498 13.9268C16.7714 14.1494 16.8339 14.4892 16.6464 14.8485Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav__contacts-item nav__contacts-item--wh">
                                <a href="#" aria-label="Whatsapp">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect width="24" height="24" rx="5" fill="#28D347"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M18.4536 5.47052C16.8632 3.87822 14.7481 3.00093 12.4947 3C7.85147 3 4.07254 6.77883 4.07068 11.4233C4.07005 12.908 4.45791 14.3573 5.19512 15.6348L4.00002 20L8.46573 18.8286C9.69622 19.4998 11.0815 19.8535 12.4913 19.8539H12.4948C17.1376 19.8539 20.9169 16.0748 20.9187 11.4301C20.9196 9.1791 20.0442 7.06271 18.4536 5.47052ZM12.4947 18.4313H12.4918C11.2355 18.4307 10.0033 18.0931 8.92819 17.4553L8.67263 17.3035L6.0226 17.9987L6.72993 15.415L6.5634 15.1501C5.8625 14.0353 5.49239 12.7468 5.49301 11.4238C5.49447 7.56346 8.63548 4.42275 12.4975 4.42275C14.3677 4.42338 16.1257 5.1526 17.4476 6.47606C18.7695 7.79951 19.4971 9.55865 19.4964 11.4295C19.4948 15.2902 16.354 18.4313 12.4947 18.4313ZM16.3353 13.1873C16.1249 13.0819 15.09 12.5729 14.897 12.5025C14.7042 12.4323 14.5637 12.3973 14.4235 12.6079C14.2831 12.8186 13.8798 13.2928 13.757 13.4331C13.6341 13.5736 13.5115 13.5913 13.3009 13.4859C13.0904 13.3805 12.4122 13.1582 11.6082 12.4411C10.9825 11.883 10.5601 11.1937 10.4373 10.9831C10.3146 10.7722 10.4362 10.6693 10.5296 10.5535C10.7575 10.2706 10.9856 9.9739 11.0558 9.83351C11.126 9.69302 11.0909 9.57007 11.0381 9.46475C10.9856 9.35944 10.5647 8.32339 10.3893 7.90182C10.2183 7.49155 10.045 7.54696 9.91567 7.54053C9.79303 7.53441 9.65264 7.53316 9.51225 7.53316C9.37197 7.53316 9.14391 7.58577 8.95091 7.79661C8.75802 8.00734 8.21432 8.51649 8.21432 9.55253C8.21432 10.5886 8.96855 11.5894 9.07376 11.7299C9.17898 11.8704 10.558 13.9965 12.6695 14.9081C13.1717 15.1252 13.5637 15.2545 13.8694 15.3516C14.3737 15.5118 14.8324 15.4891 15.1952 15.435C15.5996 15.3745 16.4404 14.9257 16.616 14.4341C16.7913 13.9424 16.7913 13.521 16.7386 13.4331C16.6861 13.3454 16.5457 13.2928 16.3353 13.1873Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <a class="nav__contacts-address" href="https://yandex.by/maps/-/CCQpBZWBPA" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3281 3C8.8388 3 6 5.8388 6 9.32812C6 10.5071 6.32657 11.6576 6.94461 12.6557L11.9679 20.7507C12.0641 20.9058 12.2337 21 12.416 21C12.4174 21 12.4188 21 12.4202 21C12.6041 20.9986 12.7739 20.9014 12.8684 20.7436L17.7637 12.5702C18.3476 11.5932 18.6562 10.4721 18.6562 9.32812C18.6562 5.8388 15.8175 3 12.3281 3ZM16.8586 12.0288L12.408 19.4597L7.84103 12.1001C7.32659 11.2692 7.04766 10.3107 7.04766 9.32812C7.04766 6.42035 9.42035 4.04766 12.3281 4.04766C15.2359 4.04766 17.6051 6.42035 17.6051 9.32812C17.6051 10.2816 17.3445 11.2156 16.8586 12.0288Z"
                                      fill="#C23503"/>
                                <path d="M12.3281 6.16406C10.5835 6.16406 9.16406 7.58346 9.16406 9.32812C9.16406 11.0616 10.5604 12.4922 12.3281 12.4922C14.1177 12.4922 15.4922 11.0426 15.4922 9.32812C15.4922 7.58346 14.0728 6.16406 12.3281 6.16406ZM12.3281 11.4445C11.1589 11.4445 10.2117 10.4942 10.2117 9.32812C10.2117 8.16502 11.165 7.21172 12.3281 7.21172C13.4912 7.21172 14.441 8.16502 14.441 9.32812C14.441 10.4771 13.5158 11.4445 12.3281 11.4445Z"
                                      fill="#C23503"/>
                            </svg>
                            г.
                            Минск, ул. Мележа, 1</a>

                        <div class="contacts__wrap-btn">
                            <button href="#" class="btn ripple btn--black js-btn">забронировать</button>
                        </div>
                    </div>
                </div>
                <div class="contacts__map contacts__w">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab188c92e52b8a7688a3a13879a60c61419761a68642955bd3421047415d268bc&amp;source=constructor" width="790" height="569" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
